@font-face {
  font-family: "Rubik";
  src: url(assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
  src: url(assets/fonts/Rubik-VariableFont_wght.ttf);
}
:root {
  --bg-color: #111111;
  --main-color: #fcb500;
  --text-color: #ffffff;
  --seconary-color: #adadad;
}

html {
  font-size: 8px;
  font-family: "Rubik";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-text {
  color: var(--main-color);
}

.secondary-text {
  color: var(--seconary-color);
  text-decoration: line-through;
}

.xs-text {
  font-size: 2.25rem;
}

.s-text {
  font-size: 3rem;
}

.m-text {
  font-size: 4.5rem;
}

.l-text {
  font-size: 6rem;
}

.button {
  background-color: var(--main-color);
  padding: 2.3rem;
  width: 32rem;
  border-radius: 1rem;
  font-size: 2.25rem;
  text-align: center;
  cursor: pointer;
}

.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 2.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
}

.header__wrapper {
  max-width: 1440px;
  height: 10rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 8rem;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  margin-left: 10rem;
}

.navbar li {
  margin: 0 3rem;
  cursor: pointer;
  line-height: 3rem;
  font-weight: 400;
}

.navbar li:hover {
  color: var(--main-color);
}

.header__basket {
  position: relative;
  cursor: pointer;
  padding: 0 2.5rem 0 14rem;
}

.header__basket_full {
  background-color: var(--main-color);
  color: #000;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  width: 16px;
  position: absolute;
  top: 3.2rem;
  left: 17rem;
}

.header__hamburger_wrapper {
  margin-left: 5rem;
  cursor: pointer;
  display: none;
}
.header__hamburger,
.header__hamburger::before,
.header__hamburger::after {
  display: block;
  background-color: #fff;
  position: absolute;
  top: 16px;
  z-index: 1000;
  height: 2px;
  width: 30px;
  border-radius: 2px;
}

.header__hamburger::before {
  content: "";
  margin-top: -8px;
}

.header__hamburger::after {
  content: "";
  margin-top: 0px;
}

.a-block {
  background-image: url(./assets/images/bg_yellow_grad.svg);
  background-size: 100%;
  overflow: hidden;
}

.a-block__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 23rem 8rem 0 8rem;
  position: relative;
}

.a-block__content h1 {
  color: #ffffff;
  font-size: 18rem;
  line-height: 19rem;
  text-transform: uppercase;
  margin-bottom: 3.5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  position: relative;
  z-index: 4;
}

.a-block__content h2 {
  font-size: 4.5rem;
  line-height: 5.4rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.a-block__content h3 {
  font-size: 3rem;
  margin-bottom: 14rem;
  max-width: 650px;
}

.a-block__content p {
  font-size: 2.25rem;
  margin-bottom: 12rem;
  max-width: 350px;
}

.a-block__img {
  position: absolute;
}

.nootris {
  top: -49rem;
  left: 124rem;
  z-index: 5;
}

.lemon {
  top: -1rem;
  left: 75rem;
  z-index: 10;
}

.ginger {
  top: -22rem;
  left: 102rem;
  z-index: 3;
}

.b-block {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-bottom: 15rem;
  overflow: hidden;
}

.b-block__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  padding: 13.7rem 8rem 0 8rem;
  display: flex;
  flex-direction: column;
}

.b-block h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.b-block__price {
  display: flex;
  align-items: center;
}

.b-block__price p {
  margin: 10rem 2rem 0 3.5rem;
}

.b-block__promo {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 0rem 0rem 3.4rem;
}

.b-block__promo div {
  margin: 3.1rem 6.7rem;
  text-align: center;
}

.b-block__promo img {
  margin-bottom: 5.1rem;
}

.b-block__promo_promo-text {
  padding: 1.8rem 0;
}

.b-block__promo h3 {
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

@media (max-width: 1439px) {
  .navbar li {
    margin: 0 2rem;
  }
}

@media (max-width: 1380px) {
  html {
    font-size: 7px;
  }
  .a-block__img {
    transform: scale(0.95);
  }
  .nootris {
    left: 130rem;
  }

  .lemon {
    left: 75rem;
    top: -7rem;
  }

  .ginger {
    left: 105rem;
  }

  .b-block__promo div {
    margin: 3.1rem 3rem;
  }
}

@media (max-width: 1220px) {
  html {
    font-size: 6px;
  }
  .a-block__img {
    transform: scale(0.9);
  }
  .a-block__content h3 {
    max-width: 500px;
  }
  .nootris {
    left: 145rem;
    top: -60rem;
  }

  .lemon {
    left: 82rem;
    top: -10rem;
  }

  .ginger {
    left: 118rem;
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 5px;
  }

  .a-block__content h3 {
    max-width: 400px;
  }

  .a-block__img {
    transform: scale(0.85);
  }
  .nootris {
    left: 150rem;
    top: -70rem;
  }

  .lemon {
    left: 75rem;
    top: -18rem;
  }

  .ginger {
    left: 108rem;
  }

  .b-block__promo div {
    margin: 3.1rem 0rem;
  }
}

@media (max-width: 981px) {
  .a-block__img {
    transform: scale(0.8);
  }
  .b-block__promo {
    flex-flow: row wrap;
    justify-content: center;
  }
  .b-block__promo div {
    margin: 3.1rem 10rem;
  }
  .b-block__promo_nootris {
    order: 3;
  }
  .nootris {
    left: 155rem;
    top: -65rem;
  }

  .lemon {
    left: 85rem;
    top: -10rem;
  }
  .ginger {
    left: 117rem;
  }
}

@media (max-width: 920px) {
  .header__phone {
    display: none;
  }
  .header__basket {
    margin-left: auto;
  }
  .header__logo {
    cursor: pointer;
    margin-left: 35rem;
  }
  .header__hamburger_wrapper {
    display: block;
  }
  .navbar {
    display: none;
  }

  .a-block__content h1 {
    font-size: 15rem;
  }
  .a-block__content h3 {
    max-width: 350px;
  }

  .nootris {
    left: 135rem;
    top: -65rem;
  }

  .lemon {
    left: 65rem;
    top: -15rem;
  }
  .ginger {
    left: 100rem;
  }
}

@media (max-width: 820px) {
  .a-block__content h1 {
    font-size: 13rem;
    line-height: 13rem;
  }
  .a-block__img {
    transform: scale(0.75);
  }

  .nootris {
    left: 125rem;
    top: -70rem;
  }

  .lemon {
    left: 75rem;
    top: -20rem;
  }
  .ginger {
    left: 95rem;
    top: -35rem;
  }
}

@media (max-width: 720px) {
  .a-block__content h1 {
    font-size: 10rem;
    line-height: 12rem;
  }
  .a-block__img {
    transform: scale(0.65);
  }

  .nootris {
    left: 125rem;
    top: -80rem;
  }

  .lemon {
    left: 75rem;
  }
  .ginger {
    left: 95rem;
    top: -40rem;
  }
}

@media (max-width: 620px) {
  .a-block__content h1 {
    font-size: 10rem;
    line-height: 12rem;
  }
  .a-block__img {
    display: none;
  }
}

@media (max-width: 420px) {
    .a-block__content h1 {
      font-size: 8rem;
      line-height: 10rem;
    }
  }
